

{% extends "base.html" %}
{% load static %}
{% block title %}password Confirm{% endblock title %}
{% block main-content %}

<div class="container">
    <div class="row my-3">
        <h3>Reset Password completed</h3>
        <hr>
       <iframe src="<div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/J20kKsn88hYAkpPtHB" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/foodtribe-food-tribe-foodtrb-J20kKsn88hYAkpPtHB">via GIPHY</a></p>" width="200" height="200" frameborder="0" class="giphy-embed" allowFullScreen></iframe>


        </form>
    </div>
</div>



{% endblock main-content %}













